$server-progressbar-offline: #ee250c;
$server-progressbar-fill: linear-gradient(to right, #3ab22e 0%, #d9e51a 40%, #f68106 65%, #ee250c 100%);

:export {
  serverProgressFill: $server-progressbar-fill;
  serverProgressOffline: $server-progressbar-offline;
}