// Bottstrap (Grid, & Containers only)
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';

@import './primevue-dark';
@import 'primevue/resources/themes/saga-purple/theme.css';
@import 'primevue/resources/primevue.min.css';

@import 'nprogress/nprogress.css';

@import './varriables';
@import './main/layout';

@import './override';