.container {
  position: relative;

  @include media-breakpoint-down(sm) {
    max-width: 90%;
  }
}

.news-block {
  position: relative;
  min-height: 180px;

  .news-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 180px;
    border-radius: 20px;
  }

  .news-image {
    width: 100%;
    height: 100%;
    min-height: 180px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    background-size: cover;
    transition: all 0.15s;
  }

  .news-content {
    border-bottom: 1px solid rgba(var(--vs-text), 0.2);

    h1 {
      font-weight: 500;
      transition: all 0.15s;
    }
  }

  span {
    opacity: 0.7;
    font-size: 14px;
  }

  &:hover {
    .news-image {
      transform: scale(1.1);
    }
  }
}

.panel {
  padding: 20px;
  background-color: var(--vs-theme-layout);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.mini-profile {
  @extend .rounded,
  .shadow-sm;
  background-color: var(--vs-theme-bg);
}

.tab-panel {
  .vs-button__content {
    justify-content: start;
  }
}

.server-block {
  position: relative;
  transition: transform 0.15s linear;

  * {
    z-index: 1;
  }

  .image {
    position: absolute;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
    transition: all 0.15s linear;
  }
}

a.server-block:hover {
  transform: scale(1.01);

  .image {
    opacity: 0.6;
  }
}

.server-table {
  tr {
    position: relative;

    td {
      &:nth-child(1) {
        color: rgba(var(--vs-text), 0.9) !important;
        padding-right: 40px;
      }

      &:nth-child(2) {
        color: rgba(var(--vs-text), 0.7) !important;
        font-weight: 500;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      border-bottom: 1px solid rgba(var(--vs-text), 0.2);
      transition: border-bottom 0.15s linear;
    }
  }
}

.cabinet-container {
  margin-top: 100px;
}

.cabinet-tab-panel {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 0 !important;

  a {
    border-bottom: 2px solid rgba(var(--vs-text), 0.05);
    position: relative;
    color: rgba(var(--vs-text), 0.75) !important;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 20px !important;
    background-color: transparent;
    transition: all 200ms;

    i {
      font-size: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 100%;
      background-color: transparent;
      transition: all 200ms;
    }

    &:last-of-type {
      border-bottom: none;
      border-radius: 0 0 12px 12px;

      &::before {
        border-radius: 0 0 0 12px;
      }
    }

    &:first-of-type {
      border-radius: 12px 12px 0 0;

      &::before {
        border-radius: 0 0 0 12px;
        border-radius: 12px 0 0 0;
      }
    }

    &:hover,
    &.nuxt-link-exact-active,
    &.nuxt-link-active.no-exact {
      color: rgba(var(--vs-text), 1) !important;
      text-decoration: none;
      padding-left: 25px !important;
      background-color: rgba(var(--vs-primary), 0.1);

      &::before {
        background-color: rgba(var(--vs-primary), 1);
      }
    }
  }
}

.skin-view {
  @extend .shadow;
  background: url('/images/bg.jpg') center, linear-gradient(180deg, var(--vs-theme-bg) 120px, rgba(var(--vs-primary), 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 12px;

  .skin-animation {
    display: flex;
    gap: 10px;

    i {
      font-size: 20px;
      color: #fff;
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 200ms;

      &:hover,
      &:focus,
      &.active {
        opacity: 1;
      }
    }
  }

  .skin-2d>canvas {
    opacity: 0.7;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }
  }
}

.player-info {
  h5 {
    font-weight: 500;
  }
}

.player-info-table {
  tr {
    position: relative;

    td {
      &:nth-child(1) {
        color: rgba(var(--vs-text), 0.9) !important;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        padding-right: 40px;
      }

      &:nth-child(2) {
        color: rgba(var(--vs-text), 0.7) !important;
        font-size: 14px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      border-bottom: 1px solid rgba(var(--vs-text), 0.2);
      transition: border-bottom 0.15s linear;
    }
  }
}

.sale-wrapper {
  @extend .shadow-sm;
  background-color: rgba(var(--vs-primary), 1);
  color: #fff;
  transition: all 200ms;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 24px;
}

.dark-mode .sale-wrapper {
  color: rgba(0, 0, 0, 0.8);
}

.cab-donate-block {
  border-bottom: 2px solid rgba(var(--vs-text), 0.05);
}

.description-html p {
  margin: 0;
}

.no-overflow-table table {
  min-width: auto;
}

.input-fw {

  .vs-input-parent,
  .vs-input-content,
  .vs-input,
  .vs-select,
  .vs-select-content {
    width: 100%;
    max-width: 100%;
  }
}

.settings-split {
  input {
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    padding: 20px 0;

    >.col-xl-6 {
      position: relative;

      &::before {
        content: '';
        height: calc(100% + 40px);
        position: absolute;
        top: -20px;
        right: -10px;
        border-right: 2px solid rgba(var(--vs-text), 0.05);
      }
    }
  }
}

.text-sm {
  font-size: 13px;
  line-height: 20px;
}

.buy-dialog,
.store-filters {

  .vs-input-parent,
  .vs-input-content,
  .vs-input,
  .vs-select,
  .vs-select-content {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
  }

  .vs-input__label {
    font-size: 16px;
  }

  .vs-input,
  .vs-select__input {
    height: 45px;
  }
}

.calculate>* {
  line-height: 20px;
}

.large-table table {
  min-width: 600px;
}

.p-avatar {
  img {
    height: auto;
  }
}

.bonus-block {
  transition: all 200ms;
  transform: scale(1);
  filter: brightness(100%);

  &.active {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
