@import "./buttons";
@import "./navbar";
@import "./contetn";
@import "./header";
@import "./_firefly.sass";

:root {
  --vs-primary: #{$primary};
  --vs-second: #{$second};
  --vs-theme-bg: #{$theme-bg};
  --vs-theme-color: #{$theme-color};
  --vs-theme-layout: #{$theme-layout};
  --vs-theme-bg2: #{$theme-bg2};
  --vs-theme-code: #{$theme-code};
  --vs-theme-code2: #{$theme-code2};
  --vs-text: #{$text};
}

.dark-mode {
  --vs-primary: #{$dark-primary};
  --vs-theme-bg: #{$dark-theme-bg};
  --vs-theme-color: #{$dark-theme-color};
  --vs-theme-layout: #{$dark-theme-layout};
  --vs-theme-bg2: #{$dark-theme-bg2};
  --vs-theme-code: #{$dark-theme-code};
  --vs-theme-code2: #{$dark-theme-code2};
  --vs-background: #{$dark-background};
  --vs-text: #{$dark-text};
  --vs-gray-1: #{$dark-gray-1};
  --vs-gray-2: #{$dark-gray-2};
  --vs-gray-3: #{$dark-gray-3};
  --vs-gray-4: #{$dark-gray-4};
  --vs-shadow-opacity: #{$dark-shadow-opacity};
  --vs-dark: #{$dark-dark};
  --vs-background-opacity: #{$dark-background-opacity};

  @import "primevue/resources/themes/bootstrap4-dark-blue/theme.css";
}

.vs-loading {
  --vs-color: var(--vs-primary);
  --vs-background: var(--vs-gray-1);
  --vs-opacity: 0.6;
}

body {
  font-family: "Brutal Type";
  background-color: var(--vs-theme-bg);
  transition: background-color 0.3s;
  color: rgba(var(--vs-text), 0.75);
  line-height: 180%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--vs-text), 0.85);
}

html:not(.dark-mode) .vs-notification__content__header h4 {
  color: var(--vs-theme-layout);
}

b {
  font-weight: 800;
}

a,
a:visited {
  color: rgb(var(--vs-primary));
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-decoration-color: rgba(var(--vs-primary), 0.5);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  &.without-underline {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(var(--vs-primary), 1);
}

#nprogress {
  z-index: 9999;

  .bar {
    background: rgb(var(--vs-primary));
  }

  .spinner-icon {
    border-top-color: rgb(var(--vs-primary));
    border-left-color: rgb(var(--vs-primary));
  }
}

.page-enter-active {
  transition: all 0.3s ease;
}
.page-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter,
.page-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.auth-layout,
.error-layout {
  background: url("/images/bg.jpg") center no-repeat,
    linear-gradient(180deg, var(--vs-theme-bg) 120px, rgba(var(--vs-primary), 0.3));
  background-blend-mode: overlay;

  .header-render {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .vs-input-parent,
  .vs-input-content,
  .vs-input {
    width: 100%;
    font-size: 16px;
  }

  .vs-input__label {
    font-size: 16px;
  }

  .vs-input {
    height: 45px;
  }

  .panel {
    min-width: 500px;
    max-width: 500px;

    @include media-breakpoint-down(sm) {
      min-width: 95%;
      max-width: 95%;
      padding: 0 20px !important;
    }
  }
}

.vs-dialog--autoWidth {
  min-width: 400px !important;
}

@include media-breakpoint-down(sm) {
  [data-aos] {
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: none !important;
  }
}

.rounded-circle canvas {
  @extend .rounded-circle;
}

.rounded canvas {
  @extend .rounded;
}

.pixalated {
  image-rendering: pixelated;
}

hr {
  border: 1px solid rgba(var(--vs-text), 0.05);
}

.store-table-overflow {
  overflow-y: auto;
}

.store-table {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;

  tr {
    border-bottom: 2px solid rgba(var(--vs-text), 0.05);

    td {
      position: relative;
      padding: 7px 0;
    }
  }

  h4, h5, span, strike {
    line-height: 15px;
  }

  .sale-wrapper {
    position: absolute;
    top: 7px;
    line-height: 20px;
  }
}

