.vs-navbar {
  @extend .container;
}

@mixin link-active {
  text-decoration: none !important;
  color: rgba(var(--vs-text), 0.75) !important;

  &::before {
    left: 15px;
    width: calc(100% - 30px);
  }
}

.vs-navbar__item {
  font-size: 1rem;
  position: relative;
  color: rgba(var(--vs-text), 0.9) !important;
  opacity: 1 !important;
  transition: all 200ms;

  i {
    font-size: 1.1rem;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 200ms;
    background-color: rgba(var(--vs-primary), 1);
  }

  &:hover,
  &.nuxt-link-exact-active {
    @include link-active;
  }
}

.paddingScroll:not(.paddingScrollActive) {
  background-color: transparent;

  .vs-navbar__item {
    &:hover,
    &.nuxt-link-exact-active {
      &::before {
        left: 50%;
        width: 0 !important;
      }
    }
  }
}

.cabinet-navbar .vs-navbar__item.nuxt-link-active {
  @include link-active;
}

.paddingScrollActive {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);

  .vs-navbar__item {
    &:hover,
    &.nuxt-link-exact-active {
      &::before {
        left: 15px;
        width: calc(100% - 30px);
      }
    }
  }
}

.square {
  height: 100vh;
  position: static;
  overflow: auto;
  width: 100%;
}
