.header {
  position: relative;
  width: 100%;
  height: 750px;
  max-height: 750px;
  transition: max-height 0.5s;

  &.header-sm {
    max-height: 400px;

    .header-render {
      transform: translateX(1000px);
    }

    .header-content {
      position: absolute;
      transform: translateX(-1300px);
    }

    .header-waves {
      opacity: 0;
    }

    .header-content-sm {
      opacity: 1;
      position: static;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url("/images/bg.jpg") center no-repeat,
      linear-gradient(180deg, var(--vs-theme-bg) 120px, rgba(var(--vs-primary), 0.3));
    background-blend-mode: overlay;
  }

  .header-waves {
    position: absolute;
    bottom: 0;
    fill: var(--vs-theme-bg);
    transition: all 0.15s;
    opacity: 1;
  }

  .header-content-sm {
    opacity: 0;
    transition: all 0.15s linear;
    position: absolute;
  }

  .header-content {
    transition: all 2s linear;
    transform: translateX(0);
    transition: transform 0.25s;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .header-render {
    position: absolute;
    right: 0;
    bottom: 40px;
    opacity: 1;
    transition: transform 0.3s;
    transform: translateX(0);
    z-index: -1;
  }

  h1 {
    color: rgba(var(--vs-text), 0.8);
    font-size: 2.5rem;
    line-height: 140%;

    b {
      color: rgba(var(--vs-text), 0.9);
    }
  }
}

.download-content {
  span {
    font-weight: 500;
  }
}

.dark-mode .header {
  &::before {
    background: url("/images/bg.jpg") center no-repeat,
      linear-gradient(180deg, var(--vs-theme-bg) 120px, rgba(var(--vs-background), 0.15));
  }
}

html:not(.dark-mode) .header {
  .download-content {
    span {
      color: rgba(var(--vs-second), 0.75);
    }
  }

  .vs-button--transparent {
    color: rgba(var(--vs-second), 0.75);
  }
}
